* {
  padding: 0;
  margin: 0;
  content: "";
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #495057;
}

.container {
  display: flex;
  flex-direction: column;
  background-color: #f8f9fa;
  width: 85%;
  max-width: 700px;
  box-shadow: -2px 6px 15px rgba(0, 0, 0, 0.1);
  padding: 2rem 4rem;
  border-radius: .4rem;
}

.main__top {
  display: flex;
  flex-direction: column;
}

.main__top>.title {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #007bff;
}

.main__top>.title>span>i {
  font-size: 4rem;
}

.main__top>.title>h2 {
  font-size: 3rem;
  font-weight: 100;
  margin-left: .6rem;
  text-decoration: underline;
}

.add-new {
  position: relative;
  margin: 3rem auto;
}

.add-new::after {
  content: "";
  position: absolute;
  bottom: -70%;
  left: 50%;
  transform: translateX(-50%);
  display: inline-flex;
  width: 106%;
  height: 1px;
  background-color: #e6e6e6;
}

.add-new>input:first-child {
  width: 100%;
  padding: 1rem 2.5rem;
  border: none;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
  border-radius: .2rem;
}

.add-new>input:focus {
  outline: none;
}

.add-new>div {
  position: absolute;
  top: 50%;
  right: 1rem;
  transform: translateY(-50%);
  color: #007bff;
}

.add-new>div>input {
  background-color: #007bff;
  color: white;
  border: none;
  padding: .6rem 1rem;
  border-radius: 0.3rem;
  font-size: 1.1rem;
  margin-left: 0.6rem;
}

.main__bottom {
  margin-top: 1.5rem;
}

.control, .content {
  display: flex;
  align-items: center;
}

.select-custom {
  position: relative;
  font-size: 1rem;
}

.select-custom>div {
  position: absolute;
  top: 50%;
  right: 1rem;
  transform: translateY(-50%);
  display: flex;
  flex-direction: column;
  height: 100%;
}

.select-custom>div>i:first-child {
  position: absolute;
  top: 20%;
  transform: rotate(180deg);
}

.select-custom>div>i:last-child {
  position: absolute;
  top: 20%;
  transform: rotate(180deg);
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  text-indent: 1px;
  text-overflow: '';
  font-size: 1rem;
  padding: 0.2rem 1rem;
  padding-right: 1.5rem;
  min-width: 80px;
  border: 1px solid #d6d6d6;
}

.control {
  font-size: 1rem;
  justify-content: flex-end;
  margin-right: 1rem;
}

.control>span {
  margin: 0 .5rem;
}

.control>.sort {
  margin-left: .5rem;
  color: #17a2b8;
}

.content {
  flex-direction: column;
  margin: 1rem auto;
}

.content>div {
  display: flex;
  width: 100%;
  margin: .8rem auto;
  position: relative;
}

.content>div::after {
  content: "";
  display: inline-flex;
  width: 72%;
  height: .5px;
  background-color: #495057;
  position: absolute;
  bottom: -.2rem;
  left: 8%;
}

.content>div>input {
  display: flex;
  width: 10%;
}

.content>div>p {
  display: flex;
  width: 70%;
}

.content>div>div {
  width: 20%;
  display: none;
  position: relative;
}

.content>div:hover>div {
  display: flex;
}

.action {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
}

.action>div:first-child {
  display: flex;
  justify-content: flex-end;
}

.action>div:first-child>i:first-child {
  color: #007bff;
  margin: .4rem;
}

.action>div:first-child>i:last-child {
  color: #ff0000;
  margin: .4rem;
}

.action>div:last-child {
  font-size: .8rem;
  margin-top: .5rem;
  color: #a1a1a1;
}
